html, body{
	height: 100%;
}
	
body{
	margin: 0px;
	padding: 0px;
	background: #F1FBF3;
	font-family: Arial;
	font-size: 12pt;
}
		
/* h1, h2, h3{
	margin: 0;
	padding: 0;
	color: #404040;
}
	
p, ol, ul{
	margin-top: 0;
}

p {
	line-height: 180%;
} */

ol, ul{
	padding: 0;
	list-style: none;
} 
	
 /* .container{
	Set width of container to
		1200px and align center 
	margin: 0px auto;
	width: 1200px;
} */

/*************************/
/* Styling Header */
/*************************/
header{
	background-color: #00834C;
	overflow: hidden;
}

#top-header{
		
	text-align: center;
	height: 15px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: none;
	margin: none;
	height: 5px;
	width: 30px;
	/* text-align: center; */
}

#logo img{
	width: 30%;
	float: left;
	padding: 30px 5px;
	
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: left;
	width: 70%;
	height: 50%;
	margin: none;
}
	
#menu ul{
	/* text-align: left; */
	float: left;
	margin: none;

}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 0.5em;
	text-decoration: none;
	font-weight: 600;
	line-height: 60px;
}
	
#menu li a{
		
	color: #FFF;
}
	
#menu li:hover a, #menu li span{
	background: #FFF;
	color: #0074D9;
	border-left: 1px solid #0074D9;
	text-decoration: none;
}
