body {
    background-color: #E3FDF0;
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 130px;
    height: 40px;
}

#header {
    background-color: #00834C;
    margin-left: -10px;
    margin-right: -7px;
    margin-top: -10px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.top {
    padding-left: 10px;
    padding-top: 5px;
}
#hcontent {
    float: right;
    margin-top: -40px;
    color: white; 
    text-decoration: none;
} 

.one {
    margin-right: 1110px;
    
}

.two {
    margin-right: 1020px;
}

.three {
    margin-right: 955px;
}

.four {
    margin-right: 835px;
}

.five {
    margin-right: 10px;
}

#center {
    width: 457px;
    height: 134px;
    margin-left: 420px;
}

#topic {
    font-size: 25px ;
    font-weight: bold;
    margin-top: 10px;
    color: #00834C;
    text-align: center;
    
}

#section1{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
}

.text{
    color: rgb(46, 46, 46);
    font-size: 20px;
    font-weight: 500;
    
}

#text1{
    float: left;
    width: 750px;
    height: 350px;
    line-height: 50px;  
}

#right{
    float: right;
    width: 750px;
    height: 350px;

}

.textsection{
    padding-right: 20px;
    padding-left: 20px;
}

#section2{
    margin-top: 20px;   
}

#section3{
    margin-top: 30px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#hilltop{
    width: 550px;
    height: auto;
}


#section4{
    margin-top: 20px;
}


#section5{
    margin-top: 70px;
}

#section7{
    margin-top: 10px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#threer{
    width: 350px;
    height: auto;
}

#footer {
    height: 5px;
    background-color: #3C3C3C;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 350px;
    margin-top: 100px;
    
}

#fcontent{
    color: white;
}
#first {
    padding-left: 30px;
}

#second {
    padding-left: 500px;
}

#foot {
    width: 50px;
    height: 50px;
}
#third {
    padding-left:1100px;
    margin-top: -400px;
}

