* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body {
    font-family: Arial;
    background-color:  #F1FBF3;
    
    
  }

.navbar{
    background-color: #00834C;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    
    
}
.navbar ul {
    float: left;
    text-align: center;
    
    
 }

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 14px;
    text-decoration: none;
    font-size: 15px;
    
    
}

 li a:hover {
 background-color: #c4ebc7;
 
}  

 .navbar img{
    width: 100%;
    height: 50px;
    
    
} 

/* .menu{
    justify-content: space-between;
    padding: 5px;
    gap: 1em; */
    


/* .menu a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    font-size: 15px;
} */

#topsection{
    overflow: hidden;
    width: 1000px;
    margin: 0px auto;  
    text-align: center; 
}

#toppicture{
    margin-top: 10px;
    padding: 10px;
    height: 50px;
    
}

#topsection p{
    margin-bottom: 20px;
    font-size: large; 
    text-align: left;
 
}
.section2{
    overflow: visible;
    text-align: center;
}

 #secondsection{
    padding-left: 20px;
    padding-right: 20px; 
    width: 100%;
    height: 90px;
    align-self: center;
    text-align: center;
    display: inline-block;
      
}

#cleanup{
    width: 700px;
    height: 300px;
    
}

#trashbin{
    width: 400px;
    height: 290px;
    
    
}
#secondsection p{
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;

}

#acycle{
    width: 150px;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.white{
    width: auto;
    height: 200px;
    background-color: white;
    border: solid 1px gray;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    
}

.recyclespace{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.recyclespace span{
    padding: 10px;
    font-size: large;
    
}
.recyclespace img{
    width: 50px;
    height: 56px;
}

.white p{
    padding-bottom: 10px;
}

.white2{
    width: auto;
    height: 200px;
    background-color: white;
    border: solid 1px gray;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    
}

.buysell{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.buysell span{
    padding: 10px;
    font-size: large;
    
}
.buysell img{
    width: 50px;
    height: 56px;
}

.white2 p{
    padding-bottom: 10px;
}

