/* * {
    box-sizing: border-box;
    
} */

body {
    background-color: #E3FDF0;
    font-family: 'Poppins', sans-serif;
}

#logo {
    width: 130px;
    height: 40px;
}

#header {
    background-color: #00834C;
    margin-left: -10px;
    margin-right: -7px;
    margin-top: -10px;
    padding-top: 5px;
    margin-bottom: 20px;
}
.top {
    padding-left: 10px;
    padding-top: 5px;
}
#hcontent {
    float: right;
    margin-top: -40px;
    color: white;
} 

.one {
    margin-right: 1110px;
}

.two {
    margin-right: 1020px;
}

.three {
    margin-right: 955px;
}

.four {
    margin-right: 835px;
}

.five {
    margin-right: 10px;
}

#center {
    width: 457px;
    height: 134px;
    margin-left: 420px;
}

#text1 {
    font-weight: 700;
    /* text-align: left; */
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(46, 46, 46);
}

#section2{
    display: flex;
}
  
#cleanup {
      padding-left: 30px;
      height: 550px;
      width: 850px;
}

#trashbin {
      padding-right: 30px;
      height: 550px;
      width: 450px;
}


#text2 {
    font-weight: 700;
    /* text-align: left; */
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(46, 46, 46);
}

#acycle{
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;

}

.white{
    width: auto;
    height: 200px;
    background-color: white;
    border: solid 1px gray;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    
}

.recyclespace{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.recyclespace span{
    padding: 10px;
    font-size: large;
    
}

.white p{
    padding-bottom: 10px;
}

.buysell{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.buysell span{
    padding: 10px;
    font-size: large;
    
}
.buysell img{
    width: 50px;
    height: 56px;
}

.white2 p{
    padding-bottom: 10px;
}

.learnmore{
    color: red;
}

